    body{
        background-image: url("../src/assets/clock.png");
        background-repeat:no-repeat;
        background-position: 50% -45%;
    }
    .main-div{
        margin: 20px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 5em;
    }